<section>
  <div class="container theme-showcase">

    <div class="row">
      <div class="col-md-6">
        <form class="form-group" role="search"> <!-- search bar -->
          <div class="input-group">
            <input type="text" class="form-control input-sm" name="search_term" placeholder="Ort, Artikel, ...">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </form>

        <div class="panel panel-default">
          <div id="googleMapsDiv" class="google-maps-wrapper" data-bind="map: { data: map().data, locations: map().asLocations() } "> <!-- maps viewport -->
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div data-bind="compose: { model: '../templates/itemList', activationData: { items: items, queryTypes: queryTypes, actions: actions }, mode: 'templated' }">
          <div data-part="btn-group-right">
            <a class="btn btn-primary btn-responsive" href="#my-items/new-item">Artikel anlegen</a>
          </div>
          <div data-part="item-panel">
            <div class="panel"
              data-bind="css: { 'panel-default': !active(), 'panel-primary': active() }, click: $parent.actions.toggleActive">
              <div class="panel-body">
                <div data-bind="visible: !active() || (active() && !isLoaded())">
                  <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                  <span data-bind="visible: active() && !isLoaded()" class="pull-right">
                    <!-- loading spinner -->
                    <i class="fa fa-spinner fa-spin fa-lg"></i>
                  </span>
                  <!-- <img alt="thumbnail" title="thumbnail" data-src="holder.js/100x100/text:Thumbnail" style="float: left; margin-right: 15px;" class="img-thumbnail"> -->
                  <img alt="thumbnail" title="thumbnail" src="/static/thumbnails/ic_sackerl_ph_light.png" style="float: left; margin-right: 15px;" class="img-thumbnail">
                  <div style="overflow: hidden" data-bind="attr: { 'id': 'item_' + $data.id }">
                    <h4 data-bind="text: name" ></h4>

                    <p>
                    <span data-bind="text: description"></span><br />
                    User: <span data-bind="text: user().firstName"></span><br />
                    <!--
                    <span data-bind="text: loc().postalCode + ' ' + loc().city"></span>
                    -->
                    </p>
                  </div>
                </div>

                <div class="position-base" data-bind="visible: active() && isLoaded()">
                  <div class"btn-panel-right">
                    <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                    <button type="button" class="btn btn-primary btn-responsive btn-right-bottom"
                      data-bind="
                      click: $parent.actions.showQueryItemDialog
                      , clickBubble: false"
                      >Anfragen</button>
                  </div>

                  <!-- was itemsViewFull -->
                  <img alt="thumbnail" title="thumbnail" src="/static/thumbnails/ic_sackerl_ph_light.png" style="float: left; margin-right: 15px;" class="img-thumbnail">
                  <div style="overflow: hidden" data-bind="attr: { 'id': 'item_' + $data.id }">
                    <h4 data-bind="text: name" ></h4>
                    <div>
                      <p>
                      <span data-bind="text: description"></span><br />
                      User: <a href="#" data-bind="
                        click: $parent.actions.showUserDialog
                        , clickBubble: false
                        "><span data-bind="text: user().getFullName"></span></a><br />
                      <span data-bind="text: loc().street + ' ' + loc().houseNumber"></span><br />
                      <span data-bind="text: loc().postalCode + ' ' + loc().city"></span><br />
                      <span data-bind="text: loc().country"></span><br />
                      Abholfrist: <span data-bind="text: getPickupDeadlineAsString()"></span>
                      <div style="float: right">
                        <div data-part="bottom-right">
                        </div>
                      </div>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.col-sm-8 -->
    </div>

  </div> <!-- /container -->
</section>
