<section>
<div class="container theme-showcase">

  <div class="row">
    <div class="col-md-6">
      <form class="form-group" role="search"> <!-- search bar -->
        <div class="input-group">
          <input type="text" class="form-control input-sm" name="search_term" placeholder="Ort, Artikel, ...">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <div class="btn-group" data-bind="foreach: queryTypes"> <!-- query type buttons -->
        <button type="button" class="btn btn-default btn-sm" data-bind="css: { active: name == $parent.lastQuery() }, text: name, click: $parent.goToQueryType"></button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div id="googleMapsDiv" class="google-maps-wrapper" data-bind="map: { data: map().data, locations: map().asLocations() } "> <!-- maps viewport -->
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <!-- items -->
      <!-- ko foreach: items -->
      <div class="panel panel-default" data-bind="click: $parent.setActive">
        <div class="panel-body">
          <img alt="thumbnail" title="thumbnail" data-src="holder.js/100x100/text:Thumbnail" style="float: left; margin-right: 15px;" class="img-thumbnail">
          <div style="overflow: hidden" data-bind="attr: { 'id': 'item_' + $data.id }">
            <h4 data-bind="text: name" ></h4>
            <div data-bind="ifnot: active">
              <p>
              <span data-bind="text: getShortDescription"></span><br />
              <span data-bind="text: loc.postalCode + ' ' + loc.city"></span>
              </p>
            </div>
            <div data-bind="if: active">
              <p>
              <span data-bind="text: description"></span><br />
              User: <span data-bind="text: user.getFullName"></span><br />
              <span data-bind="text: loc.street + ' ' + loc.houseNumber"></span><br />
              <span data-bind="text: loc.postalCode + ' ' + loc.city"></span><br />
              <span data-bind="text: loc.country"></span>
              <div style="float: right">
                <button type="button" class="btn btn-default" data-bind="click: toggleActive, clickBubble: false">Details</button>
                <button type="button" class="btn btn-primary" data-bind="click: $parent.showQueryItemDialog, clickBubble: false">Anfragen</button>
              </div>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- /ko -->
    </div><!-- /.col-sm-8 -->
  </div>

</div> <!-- /container -->
</section>
