<section>
<div class="container theme-showcase">

  <div class="row">
    <div class="col-md-6">
      <form class="form-group" role="search"> <!-- search bar -->
        <div class="input-group">
          <input type="text" class="form-control input-sm" name="search_term" placeholder="Ort, Artikel, ...">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </form>

      <div class="panel panel-default">
        <div id="googleMapsDiv" class="google-maps-wrapper" data-bind="map: { data: map().data, locations: map().asLocations() } "> <!-- maps viewport -->
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div data-bind="compose: { model: '../templates/itemList', activationData: { items: items, queryTypes: queryTypes, setActive: setActive } }"></div>
    </div><!-- /.col-sm-8 -->
  </div>

</div> <!-- /container -->
</section>
