<section>
  <div class="container theme-showcase">

    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div data-bind="compose: { model: '../templates/itemList', activationData: { items: items, queryTypes: queryTypes, actions: actions }, mode: 'templated' }">
          <div data-part="btn-group-right">
            <a class="btn btn-primary" href="#my-items/new-item">Artikel anlegen</a>
          </div>
          <div data-part="item-view" class="position-base">
            <div class="btn-panel-right">
              <a class="btn btn-default btn-right-bottom"
                data-bind="visible: $parent.lastQuery() === 'Meine Artikel'
                , attr: { href: '#my-items/edit/' + id }
                "
                >Bearbeiten</a>
            </div>
            <div data-bind="compose: { model: 'templates/itemViewFull', activationData: { item: $data, parent: $parent }, mode: 'templated' }">
              <div data-part="bottom-right">
                <div data-bind="visible: parent.lastQuery() === 'Angefragte Artikel'"
                  class="btn-group btn-group-vertical"
                  >
                  <button type="button" class="btn btn-default"
                    data-bind="clickBubble: false"
                    >Nachricht senden</button>
                  <button type="button" class="btn btn-default"
                    data-bind="clickBubble: false"
                    >Anfrage stornieren</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- /container -->
</section>
