<section>
  <div class="container theme-showcase">

    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">

        <div class="panel panel-default">
          <div class="panel-heading clearfix" >
            <img alt="thumbnail" title="Artikelfoto" data-src="holder.js/40x40/text:Thumbnail" style="margin-right: 15px;" class="img-thumbnail pull-left" />
            <a data-bind="attr: { href: '#my-items/edit/' + activeItem().id } " class="btn btn-default btn-sm pull-right">Bearbeiten</a>
            <h4 data-bind="text: activeItem().name"></h4>
          </div>

          <ul class="list-group" data-bind="foreach: activeItem().requests">
            <li class="list-group-item clearfix" data-bind="click: $parent.uiSetActive">
            <img alt="thumbnail" title="Userfoto" data-src="holder.js/40x40/text:Thumbnail" style="margin-right: 15px;" class="img-thumbnail pull-left" />
            <span class="glyphicon glyphicon-chevron-down pull-right" data-bind="visible: ! $parent.isActiveRequest($data)"></span>
            <span class="glyphicon glyphicon-chevron-up pull-right" data-bind="visible: $parent.isActiveRequest($data)"></span>
            Anfrage von <a data-bind="text: from.getFullName, click: $parent.showUserDialog"></a>
            <div class="clearfix"></div>
            <div data-bind="if: $parent.isActiveRequest($data)" class="request-active-panel">
              <div class="panel panel-default">
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control" />
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Senden</button>
                  </span>
                </div>
                <div class="panel-body request-messages-panel row" data-bind="foreach: messages">
                  <div class="request-message col-xs-7" data-bind="css: { 'me col-xs-offset-5': from === 'me' }">
                    <span data-bind="text: date"></span>
                    <div class="request-message-body" data-bind="text: text">
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-default btn-sm pull-right">Anfrage stornieren</button>
            </div>
            </li>
          </ul>
        </div>

      </div>
    </div>

  </div> <!-- /container -->
</section>
