<section>
  <div class="container theme-showcase">

    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">

        <div class="panel panel-default">
          <div class="panel-heading clearfix" >
            <img alt="thumbnail" title="Artikelfoto" data-src="holder.js/40x40/text:Thumbnail" style="margin-right: 15px;" class="img-thumbnail pull-left" />
            <a data-bind="attr: { href: '#my-items/edit/' + activeItem().id() } " class="btn btn-default btn-sm pull-right">Bearbeiten</a>
            <h4 data-bind="text: activeItem().name"></h4>
          </div>

          <ul class="list-group" data-bind="foreach: activeItem().requests">
            <li class="list-group-item clearfix">
            <div data-bind="widget: { kind: 'request-chat', request: $data }">
            </div>
            </li>
          </ul>
        </div>

      </div>
    </div>

  </div> <!-- /container -->
</section>
