<section>
  <div class="container theme-showcase">

    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div data-bind="compose: { model: '../templates/itemList', activationData: { items: items, queryTypes: queryTypes, actions: actions }, mode: 'templated' }">
          <div data-part="btn-group-right">
            <a class="btn btn-primary" href="#my-items/new-item">Artikel anlegen</a>
          </div>

          <div data-part="item-panel">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="position-base">
                  <div class="btn-panel-right">
                    <a class="btn btn-default btn-right-bottom"
                      data-bind="visible: $parent.lastQuery() === 'Meine Artikel'
                      , attr: { href: '#my-items/edit/' + id }
                      "
                      >Bearbeiten</a>
                  </div>

                  <div data-bind="compose: { model: 'templates/itemViewFull', activationData: { item: $data, parent: $parent }, mode: 'templated' }">
                  </div>

                </div>
              </div> <!-- /panel-body -->

              <ul class="list-group" data-bind="foreach: requests">
                <li class="list-group-item">
                <img alt="thumbnail" title="user photo" data-src="holder.js/40x40/text:Thumbnail" style="float: left; margin-right: 15px;" class="img-thumbnail">
                <a class="pull-right" data-bind="attr: { href: '#my-item/' + $parent.id + '/request/' + id }">Nachrichten anzeigen</a>
                <p>
                Anfrage von <a data-bind="text: from.getFullName
                  , click: $parents[1].actions.showUserDialog
                  , clickBubble:false"></a>
                <br />
                <span data-bind="text: messages[0].text" class="text-muted"></span>
                </p>
                </li>
              </ul>
            </div>
          </div> <!-- /data-part item-panel -->

        </div> <!-- /compose itemList -->
      </div>
    </div>

  </div> <!-- /container -->
</section>
