<section>
  <div class="container theme-showcase">

    <div class="row">
      <div class="col-sm-8">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Meine Adressen</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <ul class="vertical-list">
                  <!-- ko foreach: addresses -->
                  <li>
                  <div class="address panel panel-default">
                    <div class="panel-body">
                      <p>
                      <span data-bind="text: street + ' ' + houseNumber"></span><br />
                      <span data-bind="text: postalCode + ' ' + city"></span>
                      </p>
                    </div>
                  </div>
                  </li>
                  <!-- /ko -->
                  <!--
                  <li>
                  <button class="address panel panel-default btn btn-default" type="button" data-bind="click: showCreateAddressDialog">
                    <div class="panel-body">
                      <i class="fa fa-plus"></i><br />
                      Addresse anlegen
                    </div>
                  </button>
                  </li>
                  -->
                  <li>
                  <button class="address panel panel-default btn btn-default" type="button" data-bind="click: showCreateAddressDialog">
                    <div class="panel-body">
                      <div style="display: flex; align-items: center">
                        <i class="fa fa-plus fa-3x pull-left"></i>
                        Addresse anlegen
                      </div>
                    </div>
                  </button>
                  </li>
                  <!--
                  <li>
                  <button class="address panel panel-default btn btn-default" type="button" data-bind="click: showCreateAddressDialog">
                    <div class="panel-body">
                      <i class="fa fa-plus fa-3x pull-left"></i>
                    </div>
                  </button>
                  </li>
                  -->
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div style="float: right">
                  <button class="btn btn-default" type="button">bearbeiten</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Tipps</h3>
          </div>
          <div class="panel-body">
            TODO tipps
          </div>
        </div>

      </div>

      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Aktivitäten / Bewertungen</h3>
          </div>
          <div class="panel-body">
            TODO Bewertungen
          </div>
        </div>

        <div data-bind="widget: { kind: 'profile-panel' }">
        </div>

      </div>
    </div>

  </div> <!-- /container -->
</section>
