<section>
  <div class="container theme-showcase">

    <div class="row">
      <div class="col-sm-8">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Meine Adressen</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <ul class="vertical-list">
                  <!-- ko foreach: addresses -->
                  <li>
                  <div class="address panel" data-bind="css: { 'panel-default': id.toString() !== $parent.defaultAddressId().toString(), 'panel-primary': id.toString() === $parent.defaultAddressId().toString() }">
                    <div class="panel-body">
                      <p>
                      <span data-bind="text: street + ' ' + houseNumber"></span><br />
                      <span data-bind="text: postalCode + ' ' + city"></span><br />
                      <div data-bind="visible: $parent.editAddresses">
                        <div class="radio">
                          <label>
                            <input type="radio" name="defaultAddress" id="address_$id" value="$id" data-bind="checked: $parent.defaultAddressId" class="btn btn-default">Standardadresse</input>
                          </label>
                        </div>
                        <br />
                        <button data-bind="click: $parent.deleteAddress" class="btn btn-danger">löschen</button>
                      </div>
                      </p>
                    </div>
                  </div>
                  </li>
                  <!-- /ko -->
                  <li>
                  <button class="address panel panel-default btn btn-default panel-btn" type="button" data-bind="click: showCreateAddressDialog">
                    <div class="panel-body panel-btn-body">
                      <p>
                      <i class="fa fa-plus"></i><br />
                      Addresse anlegen
                      </p>
                    </div>
                  </button>
                  </li>
                  <!--
                  <li data-bind="visible: !editAddresses()">
                  <button class="address panel panel-default btn btn-default" style="padding: 0" type="button" data-bind="click: showCreateAddressDialog">
                    <div class="panel-body">
                      <div style="display: flex; align-items: center; padding: 4px">
                        <i class="fa fa-plus fa-3x pull-left"></i>
                        Addresse anlegen
                      </div>
                    </div>
                  </button>
                  </li>
                  -->
                  <!--
                  <li>
                  <button class="address panel panel-default btn btn-default" type="button" data-bind="click: showCreateAddressDialog">
                    <div class="panel-body">
                      <i class="fa fa-plus fa-3x pull-left"></i>
                    </div>
                  </button>
                  </li>
                  -->
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div style="float: right">
                  <button class="btn btn-default" type="button" data-bind="click: toggleEditAddresses, visible: !editAddresses()">bearbeiten</button>
                  <button class="btn btn-default" type="button" data-bind="click: toggleEditAddresses, visible: editAddresses">Fertig</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Tipps</h3>
          </div>
          <div class="panel-body">
            TODO tipps
          </div>
        </div>

      </div>

      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Aktivitäten / Bewertungen</h3>
          </div>
          <div class="panel-body">
            TODO Bewertungen
          </div>
        </div>

        <div data-bind="widget: { kind: 'profile-panel' }">
        </div>

      </div>
    </div>

  </div> <!-- /container -->
</section>
