<section>
  <div class="container theme-showcase">

    <div class="row">
      <div class="col-sm-8">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Meine Adressen</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <ul class="vertical-list" data-bind="foreach: addresses">
                  <li>
                  <div class="address panel panel-default">
                    <div class="panel-body">
                      <p>
                      <strong><span data-bind="text: 'Adresse ' + id"></span></strong><br /><br />
                      <span data-bind="text: street + ' ' + houseNumber"></span><br />
                      <span data-bind="text: postalCode + ' ' + city"></span>
                      </p>
                    </div>
                  </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div style="float: right">
                  <button class="btn btn-default" type="button" data-bind="click: showCreateAddressDialog">Addresse hinzufügen</button>
                  <button class="btn btn-default" type="button">bearbeiten</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Tipps</h3>
          </div>
          <div class="panel-body">
            TODO tipps
          </div>
        </div>

      </div>

      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Aktivitäten / Bewertungen</h3>
          </div>
          <div class="panel-body">
            TODO Bewertungen
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Profilfoto</h3>
          </div>
          <div class="panel-body" data-bind="with: profile">
            <img class="img-thumbnail" alt="thumbnail" title="thumbnail" data-src="holder.js/200x200/text:Foto hinzufuegen">
            <table class="profile-details">
              <tr><th>Name:</th><td data-bind="text: firstName + ' ' + lastName"></td></tr>
              <tr><th>beigetreten am:</th><td data-bind="text: getDateJoinedAsString()"></td></tr>
              <tr><th>e-mail:</th><td data-bind="text: email"></td></tr>
            </table>
            <div style="margin-top: 14px" class="pull-right">
              <button class="btn btn-default" type="button">bearbeiten</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
              <button class="btn btn-default pull-right" type="button">Konto löschen</button>
    </div>
    </div>


  </div> <!-- /container -->
</section>
