<section>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-3">
    </div>
    <div class="col-md-4 col-sm-6">
      <form role="form" action="do_register.html" method="post">
        <h1>Registrierung</h1>
        <div class="form-group">
          <label for="firstname" class="hidden">Vorname</label>
          <input type="name" class="form-control" name="firstname" id="firstname" placeholder="Vorname">
        </div>
        <div class="form-group">
          <label for="lastname" class="hidden">Nachname</label>
          <input type="name" class="form-control" name="lastname" id="lastname" placeholder="Nachname">
        </div>
        <div class="form-group">
          <label for="email" class="hidden">E-Mail-Adresse</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="E-Mail-Adresse">
        </div>
        <div class="form-group">
          <label for="password" class="hidden">Passwort</label>
          <input type="password" class="form-control" name="passwort" id="passwort" placeholder="Passwort">
        </div>
        <div class="form-group">
          <label for="password-repeat" class="hidden">Passwort (Wh)</label>
          <input type="password" class="form-control" name="passwort-repeat" id="passwort-repeat" placeholder="Passwort (Wh)">
        </div>
        <button type="submit" class="btn btn-default">Registrieren</button>
      </form>
    </div>
    <div class="col-md-4 col-sm-3">
    </div>
  </div>

</div> <!-- /container -->
</section>

<!--
vim: set expandtab:
-->
