<!-- query type buttons -->
<div class="btn-group query-type-buttons" data-bind="foreach: queryTypes">
  <button type="button" class="btn btn-default btn-sm" data-bind="css: { active: name === $parent.lastQuery() }, text: name, click: $parent.goToQueryType"></button>
</div>

<!-- items -->
<div data-bind="foreach: items">
  <div class="panel panel-default" data-bind="click: $parent.setActive">
    <div class="panel-body">
      <img alt="thumbnail" title="thumbnail" data-src="holder.js/100x100/text:Thumbnail" style="float: left; margin-right: 15px;" class="img-thumbnail">
      <div style="overflow: hidden" data-bind="attr: { 'id': 'item_' + $data.id }">
        <h4 data-bind="text: name" ></h4>
        <div data-bind="ifnot: active">
          <p>
          <span data-bind="text: getShortDescription"></span><br />
          <span data-bind="text: loc.postalCode + ' ' + loc.city"></span>
          </p>
        </div>
        <div data-bind="if: active">
          <p>
          <span data-bind="text: description"></span><br />
          User: <a href="#" data-bind="click: $parent.showUserDialog, clickBubble: false"><span data-bind="text: user.getFullName"></span></a><br />
          <span data-bind="text: loc.street + ' ' + loc.houseNumber"></span><br />
          <span data-bind="text: loc.postalCode + ' ' + loc.city"></span><br />
          <span data-bind="text: loc.country"></span><br />
          TODO abholdatum
          <div style="float: right">
            <button type="button" class="btn btn-primary" data-bind="click: $parent.showQueryItemDialog, clickBubble: false">Anfragen</button>
          </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
