<!-- query type buttons -->
<div class="btn-group query-type-buttons" data-bind="foreach: queryTypes">
  <button type="button" class="btn btn-default btn-sm" data-bind="css: { active: name === $parent.lastQuery() }, text: name, click: $parent.goToQueryType"></button>
</div>
<div class="pull-right">
  <div data-part="btn-group-right">
  </div>
</div>

<!-- items -->
<div data-bind="foreach: items">
  <div class="panel panel-default">
    <div class="panel-body">
      <div data-part="item-view">
      </div>
    </div>
  </div>
</div>
